<div class="container pt-3 pb-3">
  <div class="row">
    <div class="col-md-4 offset-md-2 mb-3">
      <div class="card text-dark bg-info">
        <div class="card-body">
          <p><%= @greeting.subtitle %></p>
          <h1 class="text-center"><%= @greeting.phrase %></h1>
          <p class="text-end">を測定する</p>
        </div>
      </div>
    </div>
    <div class="col-md-8 offset-md-2 text-center mb-3">
      <h3>マスクフィルター</h3>
      <div class="btn btn-outline-dark">ON</div>
      <div class="btn btn-outline-dark">OFF</div>
      <p class="pt-2">※音声加工によりマスク着用を想定した測定ができます。</p>
    </div>
    <div class="col-md-8 offset-md-2 text-center mb-3">
      <button class="record btn btn-outline-info">録音START</button>
      <button class="stop btn btn-outline-info">録音STOP</button>
      <%= form_with url: result_path do |f| %>
        <%= f.hidden_field :greeting_id, value: @greeting.id %>
        <%= f.submit "結果をみる", class: "result btn btn-outline-info mt-3" %>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'recording' %>
