<div class="container pt-3 pb-3">
  <div class="row">
    <div class="col-md-4 offset-md-2 mb-3">
      <div class="card text-dark bg-info">
        <div class="card-body">
          <p><%= @greeting.subtitle %></p>
          <h1 class="text-center"><%= @greeting.phrase %></h1>
        </div>
      </div>
    </div>
    <div class="col-md-8 offset-md-2 text-center mb-2">
      <p>結果は...　　　　　　　</p>
      <p class="fs-1 fw-bold"><%= @result.score %></p>
      <p>　　　　　　　点です！</p>
    </div>
    <div class="col-md-8 offset-md-2 text-center mb-4">
      <p><%= simple_format(@feedback.comment) %>
    </div>
    <div class="col-md-8 offset-md-2 text-center mb-3">
      <%= link_to 'もう一度測定', greeting_path(@greeting), class: 'btn btn-info' %>
      <%= link_to '別の挨拶を測定', greetings_path, class: 'btn btn-info' %>
    </div>
  </div>
</div>
