<div class="container pt-3 pb-3">
  <div class="row">
    <div class="col-md-4 offset-md-2 mb-3">
      <div class="card text-dark bg-info">
        <div class="card-body">
          <p><%= @greeting.subtitle %></p>
          <h1 class="text-center"><%= @greeting.phrase %></h1>
        </div>
      </div>
    </div>
    <div class="col-md-8 offset-md-2 text-center mb-2">
      <p>結果は...　　　　　　　</p>
      <p class="fs-1 fw-bold"><%= @score %></p>
      <p>　　　　　　　点です！</p>
    </div>
    <div class="col-md-8 offset-md-2 text-center mb-4">
      <% if @score >= 70 %>
        最っ高に気持ちの良い挨拶ですね！あなたは周りに幸せを運んでいます。<br>
        <% if @energy >= @joy %>
          元気度が非常に高く評価されています。パワー！！！
        <% elsif @energy %>
          喜びの数値が高く出ています。ハッピーハッピー
        <% end %>
      <% elsif @score < 70 && @score >= 50 %>
        いよっ挨拶上手！<br>
        <% if @anger >= @sorrow %>
          ちょっとだけ怒りの感情も出ているので、気をつけてね〜〜
        <% else %>
          すこーしだけ悲しげな感じになってます。気持ち明るめでいくと最高です！
        <% end %>
      <% else %>
        あららら、ちょっと元気ない感じに聞こえてしまってますよ。。<br>
        <% if @anger >= @sorrow %>
          めっちゃ怒ってますやん。嫌われても致し方なし。
        <% else %>
          え、なんか悲しいことあった？？
        <% end %>
      <% end %>
    </div>
    <div class="col-md-8 offset-md-2 text-center mb-3">
      <%= link_to 'もう一度測定', greeting_path(@greeting), class: 'btn btn-info' %>
      <%= link_to '別の挨拶を測定', greetings_path, class: 'btn btn-info' %>
    </div>
  </div>
</div>
