<h3><%= type %></h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ポイント</th>
      <th scope="col">ユーザー名</th>
      <th scope="col">挨拶</th>
    </tr>
  </thead>
  <tbody>
    <% ranks.each_with_index  do |rank, index| %>
    <tr>
      <th scope="row"><%= index + 1 %></th>
      <% if type == 'score' %>
      <td><%= rank.score %></td>
      <% elsif type == 'calm' %>
      <td><%= rank.calm * 2 %></td>
      <% elsif type == 'anger' %>
      <td><%= rank.anger * 2 %></td>
      <% elsif type == 'joy' %>
      <td><%= rank.joy * 2 %></td>
      <% elsif type == 'sorrow' %>
      <td><%= rank.sorrow * 2 %></td>
      <% elsif type == 'energy' %>
      <td><%= rank.energy * 2 %></td>
      <% end %>
      <td><%= rank.user.name %></td>
      <td><%= rank.greeting.phrase %></td>
    </tr>
    <% end %>
  </tbody>
</table>
