<div class="container mt-3">
  <div class="row text-center">
    <h3>ランキング一覧</h3>
    <div class="col-4 mb-2"><%= render 'rank', ranks: @score_ranks, type: @score %></div>
    <div class="col-4 mb-2"><%= render 'rank', ranks: @calm_ranks, type: @calm %></div>
    <div class="col-4 mb-2"><%= render 'rank', ranks: @anger_ranks, type: @anger %></div>
    <div class="col-4 mb-2"><%= render 'rank', ranks: @joy_ranks, type: @joy %></div>
    <div class="col-4 mb-2"><%= render 'rank', ranks: @sorrow_ranks, type: @sorrow %></div>
    <div class="col-4 mb-2"><%= render 'rank', ranks: @energy_ranks, type: @energy %></div>
  </div>
</div>
